.view {
  height: 100%;
  width: 100%;

  background-color: #fff;
  opacity: 1;
  background-image:
    linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
    linear-gradient(
      150deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
    linear-gradient(
      150deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      60deg,
      #00000077 25%,
      transparent 25.5%,
      transparent 75%,
      #00000077 75%,
      #00000077
    ),
    linear-gradient(
      60deg,
      #00000077 25%,
      transparent 25.5%,
      transparent 75%,
      #00000077 75%,
      #00000077
    );
  background-size: 54px 95px;
  background-position:
    0 0,
    0 0,
    27px 47px,
    27px 47px,
    0 0,
    27px 47px;
}

.logo {
  margin-right: 8px;
  width: 64px;
  height: 64px;
}

:global(.dark) .view {
  background-color: #222222;
}
